.header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .category-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  .category-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-around;
  }
  
  .category-form button {
    background-color: #fd7e14;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .category-form button:hover {
    background-color: #e86b0d;
  }
  